<html>
<head>
	<link rel="stylesheet" href='/static/style.css' />
	<link rel="stylesheet" href='/static/minimal buttons.css' />
	<script src="/static/ajax.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<script>
	$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<form action="/" method="post">
    <button name="forwardBtn" type="submit" class="button button_secondary">Get Devices</button>
</form>
<!-- Ping functionality has not been implemented in MQTT-Bridge -->
<!--<form action="#" method="post">-->
<!--	<button name="forwardBtn" type="submit" class="button button_secondary">Ping</button>-->
<!--</form>-->

  <!--{{ selected_rpc_text }}-->
<br>
<b>RPC:</b>
<div class='rpc' id='selected_rpc'></div><br>
<b>Response:</b>
<div class='notification' id='notification'>  </div><br>
<b>Error:</b>
<div class='error' id='error'>  </div><br>
<br>
<hr>
		
  {{ things_list }}


<br>
<hr>
<br>
<br>

<br>
<hr>
<br>
</body>
</html>

